<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/registration_from.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <form method="post" action="/login" class="details-form">
          <h2 class="title">Log In</h2>

          <p class="error"><%=(typeof alertMsg!='undefined')? alertMsg:''%></p>

          <div class="input-field">
            <i class="fas fa-user"></i>
            <input
              type="text"
              placeholder="Email Address"
              name="email_address"
              required
            />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input
              type="password"
              placeholder="Password"
              name="password"
              required
            />
          </div>
          <input type="submit" value="Login" class="btn solid" />
          <div class="login-link">
            <span>Don't have an account yet?</span>
            <a href="/register">Sign up</a>
          </div>
        </form>
      </div>

      <!-- <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>If you haven't signed up , What are you waiting for ?</p>
            <a href="/register"
              ><button class="btn transparent" id="sign-up-btn">Sign up</button>
            </a>
          </div>
          <img src="img/ev.png" class="image" alt="" />
        </div>
      </div> -->
    </div>

    <script></script>
  </body>
</html>
