* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: url('../img/pattern.jpg');
  background-size: 500px;
  height: 100vh;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center {
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
}
.center .header {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  background: #564787;
  border-bottom: 1px solid #f2f4f7;
  text-align: center;
}
.center form {
  background: white;
  padding: 40px 30px;
  border: 1px solid #f5f8fa;
}

.inputGroup {
  position: relative;
}

form input {
  height: 40px;
  width: 100%;
  /* display: block; */
  padding: 0 33px 0 8px;
  border-radius: 5px;
  border: 1px solid silver;
  outline: none;
  font-family: inherit;
  margin-bottom: 20px;
}

form i {
  position: absolute;
  top: 11px;
  right: 8px;
  font-size: 20px;
  color: grey;
  cursor: pointer;
}

form .btn {
  width: 130px;
  height: 45px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  background: #564787;
  border: none;
  font-family: inherit;
  width: 100%;
  font-size: inherit;
}

form .btn:hover {
  background: #101935;
  transition: 0.5s;
}
form a {
  text-decoration: none;
  font-size: 0.8rem;
  color: #564787;
}
